* {
    color: #ffffff;
}

html, body {
    background-color: #2d3238 !important;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.navbar-icon_light {
    display: none;
    height: 50px;
    width: 50px;
}

.navbar-icon_dark {
    display: inline-block;
    height: 50px;
    width: 50px;
}

.footer {
    background-color: #212529;
}

.cbg {
    background-color: #2d3238 !important;
}

.cbg2 {
    background-color: #212529 !important;
}

.ctext {
    color: #ffffff !important;
}

.hctext {
    color: #000000 !important;
}

.hctext:hover {
    transition: 0.7s !important;
    color: #FF8C00 !important;
}