* {
    color: #ffffff;
}

html, body {
    background-color: #212529 !important;
    height: 100%;
    margin: 0;
}

.footer {
    background-color: #000000;
}





.navbar-icon-light {
    display: none;
    height: 50px;
    width: 50px;
}

.navbar-icon-dark {
    display: block;
    height: 50px;
    width: 50px;
}

.cbg {
    background-color: #212529 !important;
}

.ctext {
    color: #ffffff;
}