.navbar-icon-light {
    display: block;
    height: 50px;
    width: 50px;
}

.navbar-icon-dark {
    display: none;
    height: 50px;
    width: 50px;
}

.cbg {
    background-color: #ffffff;
}

.ctext {
    color: #000000;
}