@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* remove scrollbar */
::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Ubuntu", sans-serif;
    font-size: medium;
    font-weight: 300;
}

.light {
    font-weight: 100;
    font-size: small;
}

.white {
    background-color: #ffffff;
}

/* Kolping (Jugend) Farben */
.kolping-orange {
    background-color: #FF8C00;
}
.text-kolping-orange {
    color: #FF8C00;
}

.grau {
    background-color: #EDEDED;
}
.text-grau {
    background-color: #EDEDED;
}

.kolping-schwarz {
    background-color: #000000;
}
.text-kolping-schwarz {
    color: #000000;
}

.hellblau {
    background-color: #449cdb;
}
.text-hellblau {
    color: #449cdb;
}

.hellgruen {
    background-color: #b2ce36 ;
}
.text-hellgruen {
    color: #b2ce36 ;
}

.purpur {
    background-color: #9b0687 ;
}
.text-purpur {
    color: #9b0687 ;
}

.gelb {
    background-color: #e8c424 ;
}
.text-gelb {
    color: #e8c424 ;
}

.petrol {
    background-color: #41a0a0 ;
}
.text-petrol {
    color: #41a0a0 ;
}

.dunkelblau {
    background-color: #285da6 ;
}
.text-dunkelblau {
    color: #285da6 ;
}

.smaragd {
    background-color: #1d728a ;
}
.text-smaragd {
    color: #1d728a ;
}

.violett {
    background-color: #74056f ;
}
.text-violett {
    color: #74056f ;
}

.terra {
    background-color: #aa9c7c ;
}
.text-terra {
    color: #aa9c7c ;
}

/* Light/Dark mode Switch */
.styleswitcher {
    width: 0;
    height: 0;
    visibility: hidden;
}

.styleswitcherlabel {
    display: block;
    width: 70px;
    height: 30px;
    background-color: #EDEDED;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 2px #000000;
}

.styleswitcherlabel::after {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 5px;
    top: 3px;
    left: 5px;
    transition: 0.5s;
    background-image: url("/images/light.png");
    background-size: 24px;
}

.styleswitcher:checked + .styleswitcherlabel:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    background-image: url("/images/dark.png");
    background-size: 24px;
}

.styleswitcher:checked + .styleswitcherlabel {
    background-color: #212529;
    box-shadow: 0 0 2px #ffffff;
}

.nav-link {
    font-size: 1.3rem;
}

.navbar-icon {
    display: block;
    height: 50px;
    width: 50px;
}

.hoverlink:hover {
    transition: 1.0s;
    color: #FF8C00;
}

ul {
    list-style-type: none;
}